$font-famaly: 'Playfair Display', serif;
$white: #fff;
$menu-width: 250px;
$menu-bg: #262624;
$footer-fonts: 'Fira Sans', sans-serif;;
body{
	font-family: $font-famaly;
	margin:0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container:before,
.container:after,
.row:before,
.row:after{
	display: table;
  	content: " ";
}
.container:after,
.row:after{
	clear: both;
}
.col-12{
	width: 100%;
}
.pull-right{
	float: right;
}
.m0{margin: 0px;}
.mb5{margin-bottom: 5px !important;}
.mtb15{margin: 15px 0;}
.text-center{text-align: center;}
.header{
	background: $white;
	border-color: $white;
	padding: 15px 0;
	.logo{
		width: 36px;
	}
	.menu-icon{
		width: 40px;
		margin-top:15px;
	}
}
.menu {
  display: block;
  > div {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 250px;
    height: 100%;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    padding: 20px;
    &.left {
      background: $menu-bg;
      left: -353px;
    }
    &.visible.left {
      transform: translate3d(353px, 0, 0);
    }
    &.right {
      background: #6B1919;
      right: -250px;
    }
    &.visible.right {
      transform: translate3d(-250px, 0, 0);
    }
    > .menu-item {
      float: left;
      width: 220px;
      margin: 0;
      padding: 15px 0px;
      cursor: pointer;
      color: #fff;
      font-size: 22px;
      &:hover {
        color: #F0F0F0;
      }
    }
    .close-icon{
    	position: absolute;
    	top: 0;
    	right: -56px;
    }
  }
  .submenu{
  	border-top: 1px solid #313131;
  	border-bottom: 1px solid #313131;
    float: left;
    width: 100%;
    margin:15px 0px;
    ul{
    	margin:0px;
    	padding: 0px;
    	li{
    		padding: 15px 15px 15px 0;
    	}
    	.none{list-style-type: none;}
    }
    .menu-item{
    	float: left;
    	padding: 15px 15px 15px 0;
    	color: #fff;
    	cursor: pointer;
    	font-weight: 100;
    	font-size: 16px;
    }
  }

}

.home-slider{
	.swiper-button-next, .swiper-button-prev{
		top: 97%;
		height: 20px;
	}
	.swiper-button-prev{left: 85%;}
	.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
		background-image: url(../images/prev.png);
		background-size: contain;
	}
	.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
		background-image: url(../images/next.png);
		background-size: contain;
	}
	.swiper-container {
        width: 100%;
        height: 450px;
        margin: 0px auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        color: #fff;
        font-family: $footer-fonts;
        p{
        	margin: 0px;
        }
        .heading{
        	font-size: 30px;
        }
        .overlay{
        	width: 100%;
        	height: 100%;
        	position: relative;
        	background: rgba(51, 51, 51, 0.5);
        	.caption{
        		position: absolute;
        		top: 30%;
        		left: 0;
        		right: 0;
        	}
        	.btn{
        		border:1px solid #fff;
        		border-radius: 20px;
        		background: transparent;
        		padding: 10px 20px;
        		text-decoration: none;
        		color: #fff;
        		font-size: 14px;
        		margin-top:15px;
        		display: inline-block;
        		transition:all ease-out 0.3s;
        		-webkit-transition:all ease-out 0.3s;
        		&:hover{
        			background: #f26722;
        			border:1px solid #f26722;
        			transition:all ease-in 0.3s;
        			-webkit-transition:all ease-in 0.3s;
        		}
        	}
        }
    }
    .pagination{
    	.swiper-pagination{
	    	text-align: left;
	    	padding: 15px;
    		background: #ccc;
    		bottom: 0;
    		// .swiper-pagination-current{
    		// 	&:after{
    		// 		content: '-';

    		// 	}
    		// }
	    }
    }
    
}

.work{
	a{text-decoration: none;color: #fff}
	.swiper-container {
        width: 100%;
        height: 350px;
        margin: 20px auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        &.slide-one{background-color: #f26722 !important;}
    	&.slide-two{background-color: #696b73 !important;}
    }
    .overlay{
    	background: -webkit-linear-gradient(transparent 30%, rgba(0,0,0,.6) 100%);
    	background: -o-linear-gradient(transparent 30%, rgba(0,0,0,.6) 100%);
    	background: -moz-linear-gradient(transparent 30%, rgba(0,0,0,.6) 100%);
    	width: 100%;
    	height: 100%;
    	position: relative;
    	.caption{
    		position: absolute;
    		bottom: 0;
    		left: 20px;
    		color: #fff;
    		text-align: left;
    		.small-heading{margin: 0px;font-size: 16px;font-family: $footer-fonts;}
    		.heading{margin-top:0px;font-size: 30px;}
    	}
    }
    .news-caption{
    		text-decoration: none;
    		text-align: left;
    		padding: 20px;
    		p{font-size: 14px;}
    	}

}

.social{
	h3{
		margin-bottom: 0px;
		color: #fff;
		font-weight: 100;
		font-size: 18px;
	}
	ul{
		padding: 0px;
		margin: 0px;
		list-style-type: none;
	}
	li{
		width: 30px;
		height:30px;
		padding: 10px;
		display: inline-block;
	}
	.fb{
		background: url(../images/social.png) center no-repeat;
		background-size: 110px;
    	background-position-x: 15px;
	}
	.insta{
		background: url(../images/social.png) center no-repeat;
		background-size: 110px;
    	background-position-x: -30px;
	}
	.tw{
		background: url(../images/social.png) center no-repeat;
		background-size: 110px;
    	background-position-x: -76px;
	}
}
.footer{
	background: #040404;
	text-align: center;
	padding: 15px 0px;
	color: #fff;
	font-family: $footer-fonts;
	font-size: 14px;
	p{margin:0px}
	.rights{
		font-size: 12px;
		color: #ccc;
	}
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}