body {
  font-family: "Playfair Display", serif;
  margin: 0; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.container:before,
.container:after,
.row:before,
.row:after {
  display: table;
  content: " "; }

.container:after,
.row:after {
  clear: both; }

.col-12 {
  width: 100%; }

.pull-right {
  float: right; }

.m0 {
  margin: 0px; }

.mb5 {
  margin-bottom: 5px !important; }

.mtb15 {
  margin: 15px 0; }

.text-center {
  text-align: center; }

.header {
  background: #fff;
  border-color: #fff;
  padding: 15px 0; }
  .header .logo {
    width: 36px; }
  .header .menu-icon {
    width: 40px;
    margin-top: 15px; }

.menu {
  display: block; }
  .menu > div {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 250px;
    height: 100%;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    padding: 20px; }
    .menu > div.left {
      background: #262624;
      left: -353px; }
    .menu > div.visible.left {
      transform: translate3d(353px, 0, 0); }
    .menu > div.right {
      background: #6B1919;
      right: -250px; }
    .menu > div.visible.right {
      transform: translate3d(-250px, 0, 0); }
    .menu > div > .menu-item {
      float: left;
      width: 220px;
      margin: 0;
      padding: 15px 0px;
      cursor: pointer;
      color: #fff;
      font-size: 22px; }
      .menu > div > .menu-item:hover {
        color: #F0F0F0; }
    .menu > div .close-icon {
      position: absolute;
      top: 0;
      right: -56px; }
  .menu .submenu {
    border-top: 1px solid #313131;
    border-bottom: 1px solid #313131;
    float: left;
    width: 100%;
    margin: 15px 0px; }
    .menu .submenu ul {
      margin: 0px;
      padding: 0px; }
      .menu .submenu ul li {
        padding: 15px 15px 15px 0; }
      .menu .submenu ul .none {
        list-style-type: none; }
    .menu .submenu .menu-item {
      float: left;
      padding: 15px 15px 15px 0;
      color: #fff;
      cursor: pointer;
      font-weight: 100;
      font-size: 16px; }

.home-slider .swiper-button-next, .home-slider .swiper-button-prev {
  top: 97%;
  height: 20px; }
.home-slider .swiper-button-prev {
  left: 85%; }
.home-slider .swiper-button-prev, .home-slider .swiper-container-rtl .swiper-button-next {
  background-image: url(../images/prev.png);
  background-size: contain; }
.home-slider .swiper-button-next, .home-slider .swiper-container-rtl .swiper-button-prev {
  background-image: url(../images/next.png);
  background-size: contain; }
.home-slider .swiper-container {
  width: 100%;
  height: 450px;
  margin: 0px auto; }
.home-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  color: #fff;
  font-family: "Fira Sans", sans-serif; }
  .home-slider .swiper-slide p {
    margin: 0px; }
  .home-slider .swiper-slide .heading {
    font-size: 30px; }
  .home-slider .swiper-slide .overlay {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(51, 51, 51, 0.5); }
    .home-slider .swiper-slide .overlay .caption {
      position: absolute;
      top: 30%;
      left: 0;
      right: 0; }
    .home-slider .swiper-slide .overlay .btn {
      border: 1px solid #fff;
      border-radius: 20px;
      background: transparent;
      padding: 10px 20px;
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      margin-top: 15px;
      display: inline-block;
      transition: all ease-out 0.3s;
      -webkit-transition: all ease-out 0.3s; }
      .home-slider .swiper-slide .overlay .btn:hover {
        background: #f26722;
        border: 1px solid #f26722;
        transition: all ease-in 0.3s;
        -webkit-transition: all ease-in 0.3s; }
.home-slider .pagination .swiper-pagination {
  text-align: left;
  padding: 15px;
  background: #ccc;
  bottom: 0; }

.work a {
  text-decoration: none;
  color: #fff; }
.work .swiper-container {
  width: 100%;
  height: 350px;
  margin: 20px auto; }
.work .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center; }
  .work .swiper-slide.slide-one {
    background-color: #f26722 !important; }
  .work .swiper-slide.slide-two {
    background-color: #696b73 !important; }
.work .overlay {
  background: -webkit-linear-gradient(transparent 30%, rgba(0, 0, 0, 0.6) 100%);
  background: -o-linear-gradient(transparent 30%, rgba(0, 0, 0, 0.6) 100%);
  background: -moz-linear-gradient(transparent 30%, rgba(0, 0, 0, 0.6) 100%);
  width: 100%;
  height: 100%;
  position: relative; }
  .work .overlay .caption {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: #fff;
    text-align: left; }
    .work .overlay .caption .small-heading {
      margin: 0px;
      font-size: 16px;
      font-family: "Fira Sans", sans-serif; }
    .work .overlay .caption .heading {
      margin-top: 0px;
      font-size: 30px; }
.work .news-caption {
  text-decoration: none;
  text-align: left;
  padding: 20px; }
  .work .news-caption p {
    font-size: 14px; }

.social h3 {
  margin-bottom: 0px;
  color: #fff;
  font-weight: 100;
  font-size: 18px; }
.social ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none; }
.social li {
  width: 30px;
  height: 30px;
  padding: 10px;
  display: inline-block; }
.social .fb {
  background: url(../images/social.png) center no-repeat;
  background-size: 110px;
  background-position-x: 15px; }
.social .insta {
  background: url(../images/social.png) center no-repeat;
  background-size: 110px;
  background-position-x: -30px; }
.social .tw {
  background: url(../images/social.png) center no-repeat;
  background-size: 110px;
  background-position-x: -76px; }

.footer {
  background: #040404;
  text-align: center;
  padding: 15px 0px;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px; }
  .footer p {
    margin: 0px; }
  .footer .rights {
    font-size: 12px;
    color: #ccc; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

/*# sourceMappingURL=style.css.map */
